/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333333;
    background-image: url("https://previews.123rf.com/images/decorwithme/decorwithme1907/decorwithme190700001/128175966-parents-and-children-cycling-cartoon-people-characters-illustration-on-white-background-mother.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Header styles */
  header {
    background-color: #66ccff;
    color: #ffffff;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a:hover {
    color: #ff9933;
  }
  
  /* Main content styles */
  main {
    margin: 20px;
  }
  
  .content {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .content h1 {
    margin-top: 0;
    text-align: center;
  }
  
  .content p {
    font-size: 1.2em;
    line-height: 1.5em;
  }
  
  /* Footer styles */
  footer {
    background-color: #66ccff;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }

  .reason {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #004d99;
  }
  